body{
    font-family: arial;
}
header{
    font-family: helvetica;
}

.my-banner{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 80vh;
    width: 100%; 
}

.my-width-banner{
    width: 250px;
}

.my-img-size{
    height: 170px;
    border-radius: 20px;
}