body{
    font-family: arial;
}
header{
    font-family: helvetica;
}

.my-banner{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 80vh;
    width: 100%; 
}

.my-banner-img-jumbo{
    background-image: url(../img/jumbo-bg.png);
}

.my-width-banner{
    width: 250px;
}

.my-banner-img-main{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.my-img-size{
    /* height: 170px; */
    border-radius: 20px;
}

.grey-scale{
    filter: grayscale(1);
}

.my-bg-darkblue{
    background-color: rgb(22, 28, 59);
}

.fa-playstation{
    font-size: 10rem;
}

.my-list-style{
    list-style: none;
}

.sie-position{
    position: absolute;
    top: 0;
    right: 20%;
}